<% if @current_user %>
  <div class="username"><%= @current_user.username %></div>
  <div class="karma"><%= @current_user.karma %></div>
  <div class="inbox"></div>
  <%= link_to "Logout", sessions_path, class: "logout", method: :delete %>
<% else %>
  <%= link_to "Login", "https://www.reddit.com/api/v1/authorize?client_id=#{ENV['client_id']}&response_type=code&state=1234&redirect_uri=http://localhost:3000/reddit/callback/&duration=temporary&scope=identity", class: "login" %>
<% end %>
